body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.col_2 {
  width: 100px;
}
.panel {
  width: 600px;
  height: 400px;
}

.body {
  background-color:lightgrey;
}

.panels {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.dash {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  margin-left: 70px;
  font-family: 'Open Sans', sans-serif;
}
.desc {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  margin-left: 73px;
  font-family: 'Open Sans', sans-serif;
}
.expenses{

}
